@font-face {
  font-family: 'GT-Eesti';
  src: url(./assets/font/GT-Eesti-Text-Bold-Trial.otf);
}


@font-face {
  font-family: 'GT-Eesti-Light';
  src: url(./assets/font/GT-Eesti-Display-Light-Trial.otf);
}

@font-face {
  font-family: 'GT-Eesti-Medium';
  src: url(./assets/font/GT-Eesti-Display-Medium-Trial.otf);
}

@font-face {
  font-family: 'GT-Eesti-thin';
  src: url(./assets/font/GT-Eesti-Display-Thin-Trial.otf);
}


h3 {
  font-weight: 700;
  margin-top: 2rem;
  text-transform: capitalize;
}
